/* Basic styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Opaque background */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
}

/* Content styles */
.overlay-content {
  margin-top: 20px;
}

/* Active class to show the overlay */
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.closeButton{
  display: flex;
  justify-content: center;
}

.quSection{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}