<div class="cntnr">
  <div class="heading">
    <h4 class="text-center"><b>{{lables.title}}</b></h4>
    <div class="container overflow-hidden text-center mt-1">
      <div class="row gy-5 gx-5">
        <div class="col-6">
          <div class="p-1">
            <div class="status connectionStatus"
             [ngStyle]="{ 'color': connectionStatus ? 'var(--success)' : 'var(--danger)' }"
             pTooltip={{lables.connectionTooltipMgs}} 
             tooltipPosition="top"  
            >
              {{connectionStatus?lables.connected:lables.notConnected}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1">
            <div class="row g-1">
              <div class="col-6">
                @for (l of life; track index;let index = $index) {
                  <i class="fa-solid fa-heart m-1 float-end" index [ngStyle]="{'color': index+1<=lifeLeft?'rgb(87, 28, 7)':'white'}"></i>
                }
              </div>
              <div class="col-6">
                <div class="row g-1">
                  <div class="col-10">
                    <div class="timer mt-1">
                      <div class="timer-bar">

                      </div>
                    </div>
                  </div>
                  <div class="col-2"><i class="fa-solid fa-clock float-end mt-1"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1">
            <div 
              class="status playingStatus" 
              [ngStyle]="{ 'color': playingStatus ? 'var(--success)':'var(--danger)'}"
              pTooltip={{lables.playingTooltipMgs}} 
              tooltipPosition="top"  
            >
              {{playingStatus?lables.playing:lables.notPlaying}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1">
            <div 
              class="status turnStatus" 
              [ngStyle]="{ 'background-color': turnStatus ? 'var(--success)' : 'var(--danger)' }"
              pTooltip={{lables.playingTooltipMgs}} 
              tooltipPosition="top"  
            >
              {{turnStatus?lables.yourTurn:lables.NotYourTurn}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <button type="button" class="btn btn-info button"
      placement="bottom"
      ngbPopover={{lables.instructionDetails}}
      popoverTitle={{lables.instructionTitle}}
    >
      <i class="fa-solid fa-info"></i>
    </button>
    <button type="button" class="btn btn-warning button" (click)="offer()">
      <i class="fa-solid fa-qrcode"></i>
    </button>
    <button type="button" class="btn btn-warning button" (click)="answer()">
      <i class="fa-solid fa-camera"></i>
    </button>
    <button type="button" class="btn btn-outline-dark button" (click)="changeMusicVolume()">
      <i class="fa-solid fa-volume-{{volumeType[volumeLevel]}}"></i>
    </button>
    <button type="button" class="btn btn-outline-dark button" (click)="changeSong()">
      <i class="fa-solid fa-{{songNumber}}"></i>
    </button>
    <button type="button float-end" class="btn btn-danger button">
      <i class="fa-solid fa-rotate-right"></i>
    </button>
    <button type="button float-end" class="btn btn-light button">
      <i class="fa-solid fa-play"></i>
    </button>
  </div>
  <div class="boardArea">
    <div class="board">
      @for(item of boardNumber; track index;let index = $index){
        <div class="board-item">
          <div 
            class="item-box" 
            (click)="boxClicked($event,item)" 
            [ngStyle]="{'background-color':item.clicked?item.matched?'yellow':'brown':'#00A3A3'}"
          >
            <b>{{item.number}}</b>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<audio #songEle src="{{songSrc}}" loop [autoplay]="autoPlay"></audio>
<app-offer></app-offer>
<app-answer></app-answer>
<p-toast />

