
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* @media (min-width: 450px) {
  .cntnr{
    width: 360px;
    margin-right: auto;
    margin-left: auto;
  }
} */

.cntnr{
  width: 45em;
  margin-left: auto;
  margin-right: auto;
}

.heading{
  background-color: var(--heading-background);
  padding: 10px;
  border-radius: 5px;
  margin-top: 1px;
}

.status{
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: 600;
}

.connectionStatus{
  background-color: #edac39;
}

.playingStatus{
  background-color: #edd747;
}

.turnStatus{
  color: white;
}

.timer{
  width: 95%;
  float: right;
  border-radius: 5px;
  background-color: rgb(245, 248, 248);
  height: 85%;
}

.timer-bar{
  width: 50%;
  background-color: rgb(7, 97, 97);
  height: 100%;
  border-radius: 5px;
}

