<div class="cntnr">
  <div class="heading">
    <h4 class="pt-2 title"><b>Welcome to Bingo!!</b></h4>
    <div class="container-fluid mt-2 px-1" style="font-size: 12px;">
      <div class="row gx-5">
        <div class="col-6">
          <div class="p-1 text-center">
            <div class="infoBox">
              <b>Status: Not Connected</b>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1">
              <b>Status:Connected</b>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1">
            <div class="infoBox">
              Status:Connected
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1">Custom column padding</div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-bar">
    <button type="button" class="btn btn-primary" style="width: 30px; height: 30px;" [disabled]="true">
      <div style="display: flex; justify-content: center; align-items: center;">
        <i class="fa-solid fa-play"></i>
      </div>
    </button>
    <button type="button" class="btn btn-primary" style="width: 30px; height: 30px;" [disabled]="true">
      <div style="display: flex; justify-content: center; align-items: center;">
        <i class="fa-solid fa-play"></i>
      </div>
    </button>
    <button type="button" class="btn btn-primary" style="width: 30px; height: 30px;" [disabled]="true">
      <div style="display: flex; justify-content: center; align-items: center;">
        <i class="fa-solid fa-play"></i>
      </div>
    </button>
    <button type="button" class="btn btn-primary" style="width: 30px; height: 30px;" [disabled]="true">
      <div style="display: flex; justify-content: center; align-items: center;">
        <i class="fa-solid fa-play"></i>
      </div>
    </button>
    
  </div>
  <div class="playgroung">
  
  </div>
</div>

